/* Root Variables */
:root {
    --colorTitulos: #1D3A6C; /* Color principal para los títulos */
    --fuenteTitulos: nunito, sans-serif; /* Fuente para los títulos */
    --fuenteContenido: Open Sans, sans-serif; /* Fuente para el contenido */
    --margenInferiorTitulos: 30px; /* Margen inferior para los títulos */
    --tamañoSeccionesTitulos: 26px; /* Tamaño de fuente para los títulos de secciones */
    --tamañoFuente: 15px; /* Tamaño de fuente general */
    --parallaxFondoTransparente: #1D3A6C; /* Color de fondo para efectos de parallax */
}

/* Clase para ocultar elementos */
.hidden {
    display: none;
    visibility: hidden;
}

/* Estilos para la navegación móvil */
.navigation {
    display: none;
}

/* Cabecera */
.header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    position: relative;
}

.header__banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
    z-index: -1;
}

.navigation__button-hamburger {
    background-color: transparent;
    border: none;
}

/* Menú principal */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: #000000ff; /* Fondo negro con opacidad */
    color: #ffffff;
    z-index: 100;
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out; /* Animación para mostrar el menú */
}

.menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item {
    margin-bottom: 20px;
}

.menu__link,
.menu__button {
    color: #ffffff;
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 18px;
    font-family: var(--fuenteContenido);
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.menu__dropdown {
    margin-left: 20px;
}

.menu.active {
    transform: translateX(0);
}

.menu__subitem {
    list-style: none;
}

/* Estilo de los subenlaces */
.menu__sublink {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.menu__subitem:hover {
    text-decoration: underline;
}

/* Botón de salida del menú */
.menu__exit {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

.navidation__svg {
    margin-left: 2px;
    margin-right: 2px;
}

/* Logo de la cabecera */
.header__logo {
    display: inline-block;
    width: 110px;
    background-color: transparent;
}

.header__logo img {
    width: 110px;
    background-color: transparent; 
    margin-left: 10px;
}

/* Modal de superposición */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal-overlay.hidden {
    opacity: 0;
    visibility: hidden;
}

.modal-container {
    background: #ffffff;
    border-radius: 5px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-title {
    margin: 0;
    font-size: var(--tamañoSeccionesTitulos);
}

/* Botón de cierre del modal */
.modal-close {
    background: none;
    border: none;
    cursor: pointer;
}

/* Estilos del formulario de inicio de sesión en el modal */
.modal-form-login label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.modal-form-login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-form-login button {
    width: 100%;
    padding: 10px;
    background-color: var(--parallaxFondoTransparente);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.modal-form-login button:hover {
    background-color: #183059;
}

/* Estilos de la sección principal */
.main {
    margin-top: 230px;
    position: relative;
    font-size: 10px;
    margin-bottom: var(--margenInferiorTitulos);
}

.main__title {
    text-align: center;
    font-size: var(--tamañoSeccionesTitulos);
    color: var(--colorTitulos);
    margin-bottom: var(--margenInferiorTitulos);
}

.main__section {
    position: relative;
}

.main__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
    font-size: 1.5em;
}

.main__card-image {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.main__card-button {
    margin: 15px;
    border-radius: 5px;
    width: 100%;
    background-color: var(--parallaxFondoTransparente);
    color: #ffffff;
    cursor: pointer;
}

.main__card-description {
    text-align: justify;
}

.main__section--description {
    font-size: var(--tamañoFuente);
    text-align: center;
    margin-bottom: 10px;
}

/* Contenedor de los logos de los partners */
.container-partners {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.main__partner-image {
    width: 120px;
    object-fit: cover;
}

/* Sección de registro */
.main__section--registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main__register-image {
    width: 70%;
    object-fit: cover;
    margin: 20px;
}

/* Formulario de registro */
.main__register-form {
    width: 80%;
}

/* Estilos generales de formularios */
.main__form {
    display: flex;
    flex-direction: column;
}

.main__form-title {
    text-align: center;
    font-size: var(--tamañoSeccionesTitulos);
    color: var(--colorTitulos);
    margin-bottom: var(--margenInferiorTitulos);
}

.main__form-label {
    font-weight: bolder;
    font-size: var(--tamañoFuente);
    margin-top: 10px;
}

.main__form-input {
    font-size: var(--tamañoFuente);
    padding: 5px;
    border: 1px solid #000000;
}

.main__form-checkbox {
    margin-top: 5px;
    font-size: 1.1em;
}

.main__form-button {
    background-color: var(--parallaxFondoTransparente);
    font-size: var(--tamañoFuente);
    color: #ffffff;
    font-weight: bolder;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
}

.opacity50 {
    opacity: 0.5;
    pointer-events: none;
}

/* Estilos del pie de página */
.footer {
    background-color: var(--parallaxFondoTransparente);
    color: #ffffff;
}

/* Bloques dentro del pie de página */
.footer__block {
    display: flex;
    flex-direction: column;
}

.footer__button {
    font-size: var(--tamañoFuente);
    padding: 5px;
    margin-bottom: 10px;
    background-color: var(--parallaxFondoTransparente);
    color: #ffffff;
    border: 1px solid #000000;
    border-left: none;
    border-right: none;
    cursor: pointer;
}

.footer__list {
    list-style: none;
    margin: 10px;
}

.footer__list li {
    line-height: 1.5;
    font-size: var(--tamañoFuente);
    cursor: pointer;
}

.footer__text-contact {
    font-size: var(--tamañoFuente);
    margin: 0;
    padding: 0;
    margin-bottom: var(--margenInferiorTitulos);
}

.footer__link {
    color: #ffffff;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__section--secondary {
    display: flex;
    flex-direction: column;
    background-color: var(--parallaxFondoTransparente);
    align-items: center;
}

/* Lista de redes sociales */
.footer__social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    list-style: none;
}   

/* --------------------------- Media queries para hacer el diseño responsive --------------------------- */

/* Para pantallas mínimas de 400px */
@media (min-width: 400px) {
    .main__section--novedades {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin: 0 auto; 
        align-items: start;
    }

    .doble {
        grid-area: 1 / span 2;
    }

    .main__section--registro {
        flex-direction: row;
    }

    .main__register-image {
        width: 35%;
    }

    .main__form {
        width: 80%;
    }
}

/* Para pantallas mínimas de 650px */
@media (min-width: 650px) {
    .navigation__button-hamburger {
        display: none;
    }

    .navigation {
        display: flex;
    }
    
    .navigation__list {
        width: 100%;
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(4, auto) 1fr;
    }

    .navigation__item {
        list-style: none;
    }

    .navigation__item:last-child {
        justify-self: end;
        margin-right: 5px;
    }

    .navigation__link {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        margin-top: 20px;
    }

    .black {
        color: #000000;
    }
    
    .main__section--registro {
        gap: 20px;
    }
}

/* Para pantallas mínimas de 768px */
@media (min-width: 768px) {
    .navigation__list {
        gap: 20px;
    }

    .main__section--novedades {
        width: 80%;
        justify-content: center;
        grid-template-columns: 50% repeat(2, auto);
    }

    .main__title {
        text-align: start;
        margin-left: 20px;
    }

    .doble {
        grid-area:span 2 / 1;
    }

    .change {
        width: 100%;
    }

    .centered-text {
        text-align: center;
    }

    .footer__section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 10px;
        gap: 10px;
        background-color: var(--parallaxFondoTransparente);
    }

    .footer__block {
        flex: 1;
        min-width: 200px;
        max-width: 300px;
    }

    .footer__button {
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        margin-bottom: 10px;
    }

    .footer__title {
        font-size: 1.3em;
        color: #ffffff;
        text-align: start;
    }

    .footer__list {
        padding: 0;
        margin: 0;
    }

    .footer__section--secondary {
        align-items: center;
    }
}